@font-face {
  font-family: 'x-light';
  src: url('../fonts/x-Light.ttf');
}

@font-face {
  font-family: 'x-regular';
  src: url('../fonts/x-Regular.ttf');
}

@font-face {
  font-family: 'x-bold';
  src: url('../fonts/x-Bold.ttf');
}
