<footer class="footer">

    <div class="container">

        <div class="row">

            <div class="col-sm-6 left-side">

            </div>

            <div class="col-sm-6 right-side">

            </div>

        </div>

    </div>

</footer>