<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 left-side">
                <a href="/">
                    <h1 class="logo">
                        <img src="" alt="" class="img-responsive"/>
                    </h1>
                </a>
            </div>
            <div class="col-sm-8 right-side">
header
            </div>
        </div>
    </div>
</header>